

.WFfilter label.switch-label {
	font-size: 0.85em;
  font-weight: normal;
	cursor:pointer;
  color: #999;
  margin-right: 1px;
}

.switch-btn {
  float:right;
}

.search-section .WFfilter p.switch-p-container {
    text-align: right;
    margin-top: 12px;
}

.WFfilter label.switch-label:hover {
  color:#2c9ab7;
}

.WFfilter input.hasDatepicker {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** Layout for check box slider switch **/

.ns-special .mw-body label.switch,
label.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
  margin-bottom: -6px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: #FFF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #52bad5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #52bad5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}