

.WFfilter label.switch-label {
	font-size: 0.85em;
  font-weight: normal;
	cursor:pointer;
  color: #999;
  margin-right: 1px;
}

.switch-btn {
  float:left;
}

.search-section .WFfilter p.switch-p-container {
    margin-top: 5px;
}

.WFfilter label.switch-label:hover {
  color:#2c9ab7;
  //color:var(--main-hover-color);
}

.WFfilter input.hasDatepicker {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** Layout for check box slider switch **/

.ns-special .mw-body label.switch,
label.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
  margin-bottom: -6px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: #FFF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #52bad5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #52bad5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

.wfexplore-filters-label{
  color: #a4a4a4;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.WFfilter-filters {
  float:right;
}

.WFfilter .WFfilter-filters ul.mega-dropdown-menu {
    right: 0;
    left: auto;
  padding: 15px 0;
}

.WFfilter .WFfilter-filters #sort-filters,
.WFfilter .WFfilter-filters #search-by-author,
.WFfilter .WFfilter-filters #more-filters {
  padding: 0 15px;
}

.WFfilter .WFfilter-filters #more-filters label.switch-label {
	float: right;
    width: calc(100% - 50px);
}

.WFfilter .WFfilter-filters #more-filters label.switch {
    float: left;
    margin-top: 5px;
}

.WFfilter .WFfilter-filters #search-by-author input.fulltext-search {
    width: 200px;
    border-radius: 3px;
    padding: 6px 8px;
}

.WFfilter .WFfilter-filters #search-by-author input.fulltext-search::placeholder {
    color: #bbb;
    opacity: 1;
}

.WFfilter .WFfilter-filters #search-by-author input.fulltext-search:-ms-input-placeholder {
   color: #bbb;
}

.WFfilter .WFfilter-filters ul.mega-dropdown-menu hr {
  float: left;
    width: 100%;
    margin: 15px 0px;
}

.WfFormTree {
  max-height: 200px;
  overflow-y: auto;
}
